:root{
    --button-col:#EA580C;
    --black-col:#000000;
    --white-col:#FFFFFF;
    --font-family: 'Roboto', sans-serif;
    --blue-col: #2563EB;
    --light-white: #F1F5F9;
    --yellow-col: #FACC15;
    --footer-bg-color: #0F172A;
    --beta-tag-colo: #6B21A8;
    --box-shadow-col1:#00000012;
    --box-shadow-col2:#0000001A;

}